body {
	background-image:url(images/Rohan.jpg);
	background-attachment: fixed;
	background-position: center center
	
}

h1 {
	color: #4065A4;
	font-size: 400%;
}
 
.intro {
	font-family: sans-serif;
  padding: 20px;
  /* propriétés de l'arrière-plan */
  background-color: #B0C0DB;
}
.reste{
	background-color: #B0C0DB;
	font-family: sans-serif;
	padding: 20px;
}

#tablo {
	background-image: linear-gradient(to bottom, orange, yellow);
}