@font-face {
	font-family: EnchantedLand;
	src: url('EnchantedLand.otf');
	font-family: Augusta;
	src: url('Augusta.ttf');
	font-family: SEVESBRG;
	src: url('SEVESBRG.TTF');
	font-family: SHERWOOD;
	src: url('SHERWOOD.TTF');
 }
	
* { 
margin-right: 0;
padding: 0;
 }
body {
	
	background-image:url(images/rohan.jpg);
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;

}


/* Titres */
h1 {
	color: rgba(135,77,22,0.69);
	font-size: 400%;
	font-family: monospace;
	letter-spacing: 2.5em;
	text-align:  center;
	opacity: 0.7;
	font-family: SEVESBRG;
}

h2 {
	background-color: rgba(81, 130, 210, 0.23);
	max-width: 38vw;
	margin-left: auto;
	margin-right: auto;
	font-size: 4vw;
	text-align: center;
	font-family: 'SHERWOOD';
	border-radius: 50px;
}

 h3 {
 	background-color: rgba(37, 99, 53, 0.35);
 	max-width: 400px;
	margin-left: 3;
	margin-right: auto;
	font-family: 'Augusta';
	font-size: 2vw;
	border-radius: 50px;
	text-align: center;
 }

 h4 {
 	background-color: #B0C0DB;
 	
 }


/*Navigation*/
nav {
	background: rgba(102, 226, 245, 0.65) ;
	border: 1px dashed #C1905B;
	background-size: 0px;
	float: left;
	padding: 0;
	font-family: 'Century Gothic';
}

nav li {
	float: left;
	position: relative;
	list-style-type: none;
	padding: 5px 10px;

}

li {
	border-width: 1px;
	border-style: dashed;
	border-radius: 0px;
}
nav > ul::after{
	content: "";
	display: block;
	clear: both;
}
nav a{
	text-decoration: none;
}

nav a:hover {
	text-decoration: overline;
	text-decoration-line: overline;
	
}

nav > ul > li > ul {
	display: ;
}
.sousmenu {
	display: none;
}

nav li:hover .sousmenu {
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 0px;
	background-color: rgba(102, 226, 245, 0.65);
	z-index: 50; /* sert à donner un ordre à diférentes couches qui se chevauchent*/
}


*/

 /*class and id divers*/
.portrait {
	padding: 5px;
	border-width: 4pt;
	border-style: dotted;
	border-color: #C1905B;
	float: right;
	width: 44%;
	
}

.portrait img {
	width: 100%;
	
}
/*pourquoi là 100% de la largeur c'est la moitié, et pour le texte, c'est otute la largeur?*/

.text {
	float:left;
	width: 44%;
	margin-right: 3vw;

}
h3 {
	text-align: center;
}

.clear {
	clear:both;
}

.formulairecontact {
	text-align: right;
	background-position: right;
	border-collapse: collapse;
	height: center;
	width: center;
}

.flow {
	text-align-last: left;
	text-align: justify;
	font-family: sans-serif;
  	padding: 10px;
  /* propriétés de l'arrière-plan */
  	background-color: rgba(37, 99, 53, 0.35);
 	/*width: 120%;
 	margin-right: auto;
 	margin-left: auto;*/
 	font-family: 'arial';
 	border-radius: 15px;
 	}


mark{
	background-color: rgba(26, 104, 46, 0.40);
	font-weight: bold;
}
form {
float: center;
}

#tablo {
	background-image: linear-gradient(to left, #B0C0DB, #F0F1F2);
}

#prezi {
	width: 80%;
	height: 800px;
}
footer {
	font-synthesis: weight;
	font-size: 20pt;
	font-family: 'SHERWOOD';
}
/* media queries*/




@media screen and (max-width: 1500px){
	h1 {
		color: #4065A4;
	font-size: 400%;
	font-family: monospace;
	letter-spacing: 1em;
	text-align: : center;
	}

	.flow {
		background-color: rgba(99,37,53,0.47);
	}

	body {
	
	background-image:url(images/Rohan.jpg);
	background-attachment:  scroll;
	background-position: center top;
	background-repeat: round;
	background-size: 100%;
	}
}

@media screen and (max-width: 600px){
	h1 {
		color: #4065A4;
	font-size: 400%;
	font-family: monospace;
	letter-spacing:0em;
	text-align: center;
	}
	.flow {
background-color: rgba(37,84,99,0.47);
	}	
}

