* {
	margin: 0;
	padding: 0;
	font-family: 'Century Gothic';
}

article {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 100px;
	padding-bottom: 100px;
}

@font-face {
	font-family: EnchantedLand;
	src: url('EnchantedLand.otf');
	font-family: Augusta;
	src: url('Augusta.ttf');
	font-family: SEVESBRG;
	src: url('SEVESBRG.TTF');
	font-family: SHERWOOD;
	src: url('SHERWOOD.TTF');
 }

/******************navigation*************************/
h1 {
	color: #FFF;
	padding-top: 20px;
	font-family: 'SHERWOOD';
}


.tete {
	background-color: #7F4D2D;
	display: flex;
	justify-content: space-around;
}
.tete > nav > ul {
	display: flex;
	justify-content: space-around;

}
.tete > nav > ul > li {
	margin: 30px;
	color: rgba(255,154,89,.4);
	font-family: 'SHERWOOD';
}
.tete > nav a {
	color: rgba(255,154,89,1);
	text-decoration: none;
}

/******************section*************************/

.text > p {
	margin: 20px 15px auto auto;
	padding:15px;
}

/****************portrait*******************/
.flexportrait {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.flexportrait > h2 {
	margin: 20px 0;
} 

.flexportrait > img {
	margin: 20px 0;
} 
#portrait {
	background-color: rgba(255,154,89,.3);;
	color: #403822;
}


/***************formulaire***************/
#contact {
	

}
.contact {

	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	margin-bottom: 80px;
}
form {
	margin: 50px auto;

}
#envoie {
	background-color: #FF9A59;
	border-radius: 20px;
padding: 10px;
}

label {
	padding-bottom: 20px 0;
}